<div class="about">
    <div class="card-deck">
        <div class="col-sm-6" ng-repeat="person in people">
            <div class="card">
            <img class="card-img-top" src="{{person.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{person.name}}</h5>
                <p class="card-text">{{person.job}}</p>
                <p class="card-text"><small class="text-muted">{{person.description}}</small></p>
            </div>
        </div>
        </div>
    </div>
</div>

